.map-container {
    position: relative;
    width: 100%;
    height: 600px;
}

#map {
    width: 100%;
    height: 100%;
}

.icon {
    width: 20px;
    height: 20px;
}
.icon img {
    width: 20px;
    height: auto;
}

:root {
    --bs-primary-rgb: 178, 69, 44;
}

.list-group {
    --bs-list-group-active-bg: #B2452C;
    --bs-list-group-active-border-color: #B2452C;
}
